.h{
    display: flex;
    justify-content: space-around;
    
}

.tog1{
    background-color: blue;
    padding: 1%;
    /* padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 12rem;
    padding-right: 1rem;
    border-radius: 1rem; */
    border-radius: 1rem;
    width: 40%;
    
}
.tog2{
    background-color: blue;
    padding: 1%;
    /* padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 14rem;
    padding-right: 14rem;
    border-radius: 1rem; */
    border-radius: 1rem;
    width: 40%;
    
}
.tog3{
    background-color: blue;
    padding: 1%;
    /* padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 12rem;
    padding-right: 1rem;
    border-radius: 1rem; */
    border-radius: 1rem;
    width: 40%;
}
.tog4{
    background-color: blue;
    padding: 1%;
    /* padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 14rem;
    padding-right: 1rem;
    border-radius: 1rem; */
    border-radius: 1rem;
    width: 40%;
}

.play{
    background-color: chocolate;
    padding: 2rem;
    border-radius: 2rem;
    padding-top: 4rem;
}

span{
    background-color: green;
    border-radius: 1rem;
    
   
}